@page
@model GraduateProject.Pages.AddingEntities.IndexModel
@{
    
}

<div class="row">
    <div class="col-3">
        <a class="btn btn-secondary w-100" asp-page="StudyDirectionCreation">
            Добавить Направление Обучения
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100" asp-page="CycleCreation">
            Добавить Цикл
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100" asp-page="ProfessionalModuleCreation">
            Добавить Профессиональный модуль
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100" asp-page="DisciplineCreation">
            Добавить Дисциплину
        </a>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-3">
        <a class="btn btn-secondary w-100" asp-page="CertificationFormCreation">
            Добавить Форму Аттестации
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100">
            Добавить Семестр
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100">
            Добавить Группу
        </a>
    </div>

    <div class="col-3">
        <a class="btn btn-secondary w-100">
            Добавить Студента
        </a>
    </div>
</div>