@page
@model GraduateProject.Pages.Mark.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Группы:</h1>
</div>

@foreach (var group in Model.Groups)
{ 
    <div class="row m-3">
        <a class="btn btn-secondary w-200" asp-route-groupId="@group.Id" asp-page="Groups/Index">
            @group.Name
        </a>
    </div>
}



