@page
@model GraduateProject.Pages.AdminPanel.IndexModel
@{
}

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="StudyDirection/Index">
        Направление Обучения
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Group/Index">
        Группы
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Student/Index">
        Студенты
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Position/Index">
        Должности
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Employee/Index">
        Работники
    </a>
</div>

<hr />

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="CertificationForm/Index">
        Формы аттестации
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Discipline/Index">
        Дисциплины
    </a>
</div>


<div class="row">
    <a class="btn btn-secondary w-200" asp-page="Plan/Index">
        Планы
    </a>
</div>

<hr/>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="">
        Ведомости успеваемости
    </a>
</div>

<div class="row">
    <a class="btn btn-secondary w-200" asp-page="">
        Оценки
    </a>
</div>