@page "{groupId}"
@model GraduateProject.Pages.Mark.Groups.IndexModel
@{
}



<div class="text-center">
    <h1 class="display-4">Группа: @Model.Group.Name</h1>
</div>

<div class="text-center">
    <p class="h1">Выставить оценки по:</p>
</div>


@foreach (var discipline in Model.Disciplines)
{
    <div class="row m-3">
            <a class="btn btn-secondary w-200" asp-route-groupId="@Model.Group.Id" 
                                               asp-route-disciplineId="@discipline.Id" 
                                               asp-page="Disciplines/Index">
            @discipline.Name
        </a>
    </div>
}
